/***********************************************

 Autores: Andres Fernandes - Juan Roccia

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/
:root {
    --color-principal: #f0f0f0;
    --color-secundario: #333333;
    --color-acento: #007BFF;
    --color-action: #81B29A;
    --color-fondo: #ffffff;
    --color-texto: #666666;
}
main {
    justify-content: center;
    padding: 20px 0;
}
.main-menu {
    background-color: var(--color-principal);
}
h2, h3, h4, h5, h6 {
    color: var(--color-secundario);
}
a {
    color: var(--color-acento);
}
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/*          ESTILOS DE CABECERA PRINCIPAL Y MENÚ PRINCIPAL 

    (Ambos menu de navegacion fijos - Futura implementacion con js) 

*/
.main-header, .main-menu {
    position: fixed;
    width: 100%;
    z-index: 3000;
}
body {
    margin-top: 0;
}
main {
    top: 300px;
    position: sticky;
    position: absolute;
    position: relative;
}
/* Esta transicion solo es visible con el js implementado */
.main-menu.scroll-down {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
/* Fin */

/* El JavaScript para que el menu funcione correctamente seria el siguiente: 

        <script>
            let lastScrollTop = 0;
            window.addEventListener("scroll", function() {
                let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                if (scrollTop > lastScrollTop) {
                    document.querySelector('.main-menu').classList.add('scroll-down');
                } else {
                    document.querySelector('.main-menu').classList.remove('scroll-down');
                }
                lastScrollTop = scrollTop;
            });
        </script>

*/


/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
    /* Implementacion para ambos menu de navegacion fijos */
    z-index: 2;
    /* Fin */
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.main-header h1 {
    color: var(--color-fondo);
    font-weight: 600;
    order: 2;
    white-space: nowrap;
    text-align: center;
    flex-grow: 1;
}
.main-header img{
    height: 100%;
    order: 1;
    margin-right: auto;
    padding: 15px 0;
    cursor: pointer;
}
.main-header .notifications {
    order: 3;
    display: flex;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}

/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu {
    /* Implementacion para ambos menu de navegacion fijos */
    top: 80px;
    z-index: 1;
    /* Fin */
    background-color: var(--color-principal);
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    overflow-x: auto; 
}
.menu-group {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
}
.menu-group h2 {
    font-size: 1.2em; 
    margin-bottom: 10px; 
}
.menu-group a {
    display: flex;
    align-items: center; 
    color: #333; 
    text-decoration: none; 
    margin-bottom: 5px; 
}
.menu-group a .material-icons {
    margin-right: 10px; 
}

/* CONTROL DE STOCK */
.stock-control{
    display: flex;
}
.stock-alert{
    width: 110px;
    height: 60px;
}

/* COTIZACION DOLAR */
.loading{
    width: 100px;
    display: flex;
}
.loading-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.currency>p{
    display: none;
}

/* ESTILOS PARA LA ESTRUCTURA GENERAL DEL MAIN */
main {
    flex-direction: initial;
    flex-wrap: wrap;
}
.stock-control, .currency, .contact-support {
    grid-column: span 1;
    display: block;
}
.loading {
    width: 100%;
    display: block;
}

/* ESTILOS PARA LA SECCIÓN "EXCLUSIVE OFFERS" */
.exclusive-offers {
    background-color: var(--color-fondo);
    padding-top: 20px;
}
.exclusive-offers h2 {
    text-align: left;
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 20px; 
    padding: 20px;
    color: var(--color-texto);
}
.art-offer img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
    width: 20%;
}
.art-offer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px;
    box-sizing: border-box;
    width: calc(100% - 40px);
    color: var(--color-texto);
    background-color: var(--color-principal);
}
.art-offer header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}
.art-offer header h3, .art-offer header p {
    font-size: 1.2em;
    cursor: pointer;
}
.art-offer p[data-art-old-price]:hover::after {
    content: "Antes: $" attr(data-art-old-price);
    display: block;
    color: var(--color-acento);
}
.art-offer header, .art-offer .art-details, .art-offer footer {
    flex: 1;
}
.art-offer .art-details {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.art-offer button {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}
.art-offer button:hover {
    background-color: var(--color-action);
    color: var(--color-fondo);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.art-offer footer {
    order: 5;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ESTILOS PARA LA SECCIÓN "ACTIVITY" */
.activity {
    background-color: var(--color-fondo); 
    padding: 50px; 
    margin-left: 20px;
    width: 100%;
}
.activity h2 {
    text-align: left; 
    font-size: 2em; 
    font-weight: bold; 
    color: var(--color-texto); 
    margin-bottom: 20px; 
}
.activity table {
    width: 100%; 
    border-collapse: collapse; 
}
.activity th {
    background-color: var(--color-acento); 
    color: var(--color-fondo);
}
.activity th, .activity td {
    border: 0px solid var(--color-texto); 
    padding: 10px; 
    text-align: left; 
}
.activity tr {
    background-color: var(--color-principal);
    transition: font-size 0.3s ease-in-out;
}
.activity tr:nth-child(even) {
    background-color: var(--color-fondo);
}
.activity tr:hover {
    font-size: medium;
}
.activity button {
    background-color: var(--color-acento); 
    color: var(--color-fondo); 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
}
.activity button:hover {
    background-color: var(--color-action);
}

/* ESTILOS PARA LA SECCIÓN "CARDS" */
.cards {
    background-color: var(--color-fondo); 
    padding: 20px; 
    margin: 10px;
}
.cards h2 {
    text-align: center; 
    font-size: 1.7em; 
    font-weight: bold; 
    color: var(--color-texto); 
    margin-bottom: 20px; 
}
.card {
    background-color: var(--color-fondo);
    border: 0px solid var(--color-texto); 
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    margin-top: 35px; 
    transition: all 0.3s ease; 
    cursor: pointer;
}
.card:hover {
    z-index: 1; 
}
.card h3 {
    font-size: 1.2em; 
    color: var(--color-texto); 
    margin-bottom: 10px; 
}
.card p {
    color: var(--color-texto); 
}
.card img {
    width: 50px; 
    position: absolute; 
    bottom: 10px; 
    right: 10px;
}

/* ESTILOS PARA LA SECCIÓN "STOCK CONTROL" */
.stock-control {
    background-color: var(--color-fondo);
    padding: 20px;
    margin: 0 60px;
    text-align: center;
}
.stock-control h2 {
    text-align: center;
    font-size: 2em; 
    font-weight: bold;
    color: var(--color-texto);
}
.stock-alert {
    width: 250px;
    margin: 10px;
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
}
.stock-alert[data-alert-level="high"] {
    background-color: var(--color-acento);
}
.stock-alert[data-alert-level="medium"] {
    background-color: var(--color-principal);
}
.stock-alert[data-alert-level="low"] {
    background-color: var(--color-action);
}
.stock-alert:hover::after {
    content: "Stock: " attr(data-stock) "     Alerta: " attr(data-alert-level);
    white-space: pre;
    display: block;
    color: var(--color-fondo);
    font-size: 1.2em;
    line-height: 1.5;
}

/* ESTILOS PARA LA SECCIÓN "CURRENCY" */
.currency {
    padding: 20px;
    margin: 10px;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.currency h2 {
    text-align: center; 
    font-size: 1.7em; 
    font-weight: bold;
    color: var(--color-texto);
}
.currency>p {
    display: block;
}
.loading {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}
.loading-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-acento);
    animation: loading 1s infinite;
}
@keyframes loading {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
.currency>p {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
}

/* ESTILOS PARA LA SECCIÓN "CONTACT SUPPORT" */
.contact-support {
    margin-top: 20px;
    background-color: var(--color-fondo);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
    width: 100%;
}
.contact-support .material-icons-outlined {
    font-size: 2em;
    color: var(--color-acento);
    cursor: pointer;
}
.contact-support .contact-text {
    font-size: 1.2em;
    color: var(--color-texto);
    cursor: pointer;
}

/* ESTILOS PARA EL FOOTER */
.main-footer {
    /* Implementacion para ambos menu de navegacion fijos */
    top: 300px;
    position: relative;
    /* Fin */
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.2em; 
    background-color: var(--color-principal);
}